.category{
    display:flex;
    justify-content: space-between;
}


svg{
    transform: scale(2);
}
.rct-checkbox{
    height: 2em;
    width: 2em;
}

.rct-node-icon{
    font-size: 2em;
}

.rct-title{
    margin-left: 10px;
    font-size: 2em;
}